<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Recommendify</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>
  <body style="background-color: #121212;">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-auto">
          <table class="table-responsive-lg table-borderless">
            <tr>
              <h1 class="display-2" style="color: #121212"><strong>Recommendify</strong></h1>
              <h1 class="display-2" style="color: #121212"><strong>Recommendify</strong></h1>
            </tr>
            <form method="post" action="/search_results">
              <tr class="row-6">
                <td>
                  <div class="d-flex align-items-center justify-content-center float-left">
                    <img src="https://github.com/trijaychan/music-recommend/blob/master/docs/logos/spotify.png?raw=true" height="300" alt="spotify">
                    <h1 class="display-1" style="color: #1ed760"><strong>Recommendify</strong></h1>
                  </div>
                </td>
              </tr>
              <tr class="row-6">
                <td>
                  <input type="text" class="form-control form-control-lg mt-4" style="border-radius: 20px;" name="search" placeholder="Enter an artist name.">
                </td>
              </tr>
            </form>
          </table>
        </div>
      </div>
    </div>
  </body>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>